.next-botton-div {
  display: flex;
  padding-top: 5%;
  justify-content: flex-end;
}

.footer-parent {
  height: 100px;
  background: cyan;
  display: flex;
  align-items: center;
  justify-content: center;
}
