header {
  height: 60px;
  display: flex !important;
  align-items: center;
  background: antiquewhite;
}

.main {
  display: flex;
}

.sidePanel {
  background: blueviolet;
}

.tileMainParent {
  padding: 10px;
  background: #737395;
}

.tilesParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.panel {
  width: 100px;
  color: aliceblue;
}

.tiles {
  width: 100px;
  height: 100px;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: double;
  margin: 10px;
}

.footerParent {
  display: flex;
  .first {
    background: violet;
  }
  .second {
    background: rgb(216, 184, 188);

  }

  .third {
    background: rgb(184, 56, 25);

  }
}
