.userListParent {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  transition: all 0.3s;
}

.userTile {
  width: 250px;
  .my-card-image {
    width: 218px;
    height: 218px;
    background-image: url("https://res.cloudinary.com/djcffe77b/image/upload/v1623929527/user-database/avatar-1577909_wweb8h.svg");
    transition: opacity 0.5s ease-in-out;
  }
}
