.userListParent {
    display: flex;
    flex-flow: wrap;
}

.userTile {
    width: 200px;
    height: 300px;
    border-style: groove;
    border-width: 5px;
    margin: 10px;    
    
    .imageContainer{
        width: 100%;
        display: flex;
        justify-content: center; 
        img {
                    width: 90%;
                    border-radius: 50%;
                }
            }

            .detailsInfo{
                padding: 5px;
            }
}

