.userListParent {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  transition: all 0.3s;
}

.userTile {
  width: 250px;
  .my-card-image {
    width: 218px;
    height: 218px;
  }
}
